In [1]:
import os
import openai

openai.api_key = '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'

#dataset_kind = input()



response = openai.Completion.create(
  engine="code-davinci-001",
  prompt="\"\"\"\npython3\n\nGiven a car dataset in the file \"datasets/cars.csv\" with the following columns:\nprice,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition\ndrop the following columsn: vin,lot,state,country\n use a label encoder on columns with string data and store the output in a new dataframe\n\"\"\"\n",
  temperature=0.2,
  max_tokens=1500,
  top_p=1,
  frequency_penalty=0.4,
  presence_penalty=0,
  n=1,
  best_of=3
)
print(response)

{
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": "\nimport pandas as pd\nfrom sklearn.preprocessing import LabelEncoder\n\ndf = pd.read_csv(\"datasets/cars.csv\")\nprint(df)\nprint(df.columns)\n# drop the following columsn: vin,lot,state,country\ndf = df.drop(['vin', 'lot', 'state', 'country'], axis=1)\nprint(df)\n\n\n# use a label encoder on columns with string data and store the output in a new dataframe\nle = LabelEncoder()\nfor col in df:\n    if df[col].dtype == 'object':  # if column datatype is object (string) then convert to categorical values (numbers) and store in new dataframe called df_new \n        df[col] = le.fit_transform(df[col])  # fit and transform the column values with label encoder and store in same dataframe\n\n        \n\n        \n\n"
    }
  ],
  "created": 1644780478,
  "id": "cmpl-4bEpKX3ydVZAwnpLfDKPPWXI4aFYo",
  "model": "code-davinci:001",
  "object": "text_completion"
}

In [10]:
# write the response from codex to a python executable
try : 
    os.remove('prog.py')
except:
    pass
with open('prog.py', 'x') as f:
    f.write(response['choices'][0]['text'])

In [23]:
exec(response['choices'][0]['text'])

      Unnamed: 0  price      brand    model  year   title_status   mileage  \
0              0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1              1   2899       ford       se  2011  clean vehicle  190552.0
2              2   5350      dodge      mpv  2018  clean vehicle   39590.0
3              3  25000       ford     door  2014  clean vehicle   64146.0
4              4  27700  chevrolet     1500  2018  clean vehicle    6654.0
...          ...    ...        ...      ...   ...            ...       ...
2494        2494   7800     nissan    versa  2019  clean vehicle   23609.0
2495        2495   9200     nissan    versa  2018  clean vehicle   34553.0
2496        2496   9200     nissan    versa  2018  clean vehicle   31594.0
2497        2497   9200     nissan    versa  2018  clean vehicle   32557.0
2498        2498   9200     nissan    versa  2018  clean vehicle   31371.0

       color                  vin        lot       state country  \
0      black    jtezu11f88k007763  159348797  new jersey     usa
1     silver    2fmdk3gc4bbb02217  166951262   tennessee     usa
2     silver    3c4pdcgg5jt346413  167655728     georgia     usa
3       blue    1ftfw1et4efc23745  167753855    virginia     usa
4        red    3gcpcrec2jg473991  167763266     florida     usa
...      ...                  ...        ...         ...     ...
2494     red    3n1cn7ap9kl880319  167722715  california     usa
2495  silver    3n1cn7ap5jl884088  167762225     florida     usa
2496  silver    3n1cn7ap9jl884191  167762226     florida     usa
2497   black    3n1cn7ap3jl883263  167762227     florida     usa
2498  silver    3n1cn7ap4jl884311  167762228     florida     usa

          condition
0      10 days left
1       6 days left
2       2 days left
3     22 hours left
4     22 hours left
...             ...
2494    1 days left
2495  21 hours left
2496  21 hours left
2497    2 days left
2498  21 hours left

[2499 rows x 13 columns]
Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')
      Unnamed: 0  price      brand    model  year   title_status   mileage  \
0              0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1              1   2899       ford       se  2011  clean vehicle  190552.0
2              2   5350      dodge      mpv  2018  clean vehicle   39590.0
3              3  25000       ford     door  2014  clean vehicle   64146.0
4              4  27700  chevrolet     1500  2018  clean vehicle    6654.0
...          ...    ...        ...      ...   ...            ...       ...
2494        2494   7800     nissan    versa  2019  clean vehicle   23609.0
2495        2495   9200     nissan    versa  2018  clean vehicle   34553.0
2496        2496   9200     nissan    versa  2018  clean vehicle   31594.0
2497        2497   9200     nissan    versa  2018  clean vehicle   32557.0
2498        2498   9200     nissan    versa  2018  clean vehicle   31371.0

       color      condition
0      black   10 days left
1     silver    6 days left
2     silver    2 days left
3       blue  22 hours left
4        red  22 hours left
...      ...            ...
2494     red    1 days left
2495  silver  21 hours left
2496  silver  21 hours left
2497   black    2 days left
2498  silver  21 hours left

[2499 rows x 9 columns]

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('datasets/cars.csv')
if 'Unnamed: 0' in df.columns:
    df.drop('Unnamed: 0', axis=1, inplace=True)

cor = df.corr()
print(cor)
good_cor = []
for i in cor.columns:
    for j in cor.columns:
        if i != j and (cor[i][j] > 0.15 or cor[i][j] < -0.15):
            good_cor.append(
                {
                    'i': i,
                    'j': j,
                    'cor': cor[i][j]
                }
            )


print(good_cor)

            price      year   mileage       lot
price    1.000000  0.418274 -0.400838  0.159369
year     0.418274  1.000000 -0.594686  0.164582
mileage -0.400838 -0.594686  1.000000 -0.130475
lot      0.159369  0.164582 -0.130475  1.000000
[{'i': 'price', 'j': 'year', 'cor': 0.41827356849182534}, {'i': 'price', 'j': 'mileage', 'cor': -0.40083818632936985}, {'i': 'price', 'j': 'lot', 'cor': 0.1593692468463077}, {'i': 'year', 'j': 'price', 'cor': 0.41827356849182534}, {'i': 'year', 'j': 'mileage', 'cor': -0.5946860080350653}, {'i': 'year', 'j': 'lot', 'cor': 0.16458171938751986}, {'i': 'mileage', 'j': 'price', 'cor': -0.40083818632936985}, {'i': 'mileage', 'j': 'year', 'cor': -0.5946860080350653}, {'i': 'lot', 'j': 'price', 'cor': 0.1593692468463077}, {'i': 'lot', 'j': 'year', 'cor': 0.16458171938751986}]

In [22]:
# check if key exists in a list of dictionaries
def key_exists(k1, k2, list_of_dicts):
    for d in list_of_dicts:
        if k1 in d and k2 in d:
            return True
    return False

def get_good_correlation(df, threshold=0.15):
    cor = df.corr()
    good_cor = []
    for i in cor.columns:
        for j in cor.columns:
            if i != j and (cor[i][j] > threshold or cor[i][j] < -threshold) and key_exists(i, j, good_cor) == False and key_exists(j, i, good_cor) == False:
                good_cor.append(
                    {
                        'i': i,
                        'j': j,
                        'cor': cor[i][j]
                    }
                )
    return cor, good_cor

get_good_correlation(df)

(            price      year   mileage       lot
 price    1.000000  0.418274 -0.400838  0.159369
 year     0.418274  1.000000 -0.594686  0.164582
 mileage -0.400838 -0.594686  1.000000 -0.130475
 lot      0.159369  0.164582 -0.130475  1.000000,
 [{'i': 'price', 'j': 'year', 'cor': 0.41827356849182534},
  {'i': 'price', 'j': 'mileage', 'cor': -0.40083818632936985},
  {'i': 'price', 'j': 'lot', 'cor': 0.1593692468463077},
  {'i': 'year', 'j': 'price', 'cor': 0.41827356849182534},
  {'i': 'year', 'j': 'mileage', 'cor': -0.5946860080350653},
  {'i': 'year', 'j': 'lot', 'cor': 0.16458171938751986},
  {'i': 'mileage', 'j': 'price', 'cor': -0.40083818632936985},
  {'i': 'mileage', 'j': 'year', 'cor': -0.5946860080350653},
  {'i': 'lot', 'j': 'price', 'cor': 0.1593692468463077},
  {'i': 'lot', 'j': 'year', 'cor': 0.16458171938751986}])